<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yucan.sensoro.demo" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:name=".ConnectionApp"
        android:allowBackup="true"
        android:icon="@drawable/blk_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">>


        <service android:name="com.sensoro.beacon.kit.BeaconProcessService" />
        <service android:name="com.sensoro.beacon.kit.BeaconService" />
        <service android:name="com.sensoro.beacon.kit.IntentProcessorService" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DetailActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name=".ui.ModifyActivity"
            android:label="@string/title_activity_modify" >
        </activity>

    </application>

    <supports-screens android:largeScreens="true"

    android:normalScreens="true" android:anyDensity="true"

    android:smallScreens="true"></supports-screens>


</manifest>
